<style>
    * {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        color: rgb(51, 51, 51);
        background-color: rgb(250, 250, 250);
    }

    p {
        text-align: left
    }

    strong {
        color: greenyellow;
        font-weight: bold;
        font-size: 18pt;
    }
</style>

<p>Olá {{ user.full_name }}!</p>
<p>Tudo bem? Esperamos que sim :D</p>
<p>Você acaba de ser promovido a administrador do sistema, parabêns!</p>
<p>Estamos muito felizes em contar com você no time, e em breve, você receberá um treinamento necessário, fique atento aos e-mails!</p>
<p>Abraços a distancia.</p>
<strong>LubyCash</strong>